<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{#if pageTitle}}{{pageTitle}}{{else}}Magic Movie{{/if}}</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">
        <nav>
            <img src="/img/logo.webp" alt="logo">

            <ul class="menu">
                {{!-- <div id="main" class="menu"> --}}
                    <li id="main"><a href="/">Home</a></li>
                    <li id="main"><a href="/about">About</a></li>
                    <li id="main"><a href="/movie/search">Search</a></li>
                {{#if isAuthenticated}}
                    <li id="user"><a href="/movie/create">Create Post</a></li>
                    <li id="user"><a href="/cast/create">Create Cast</a></li>
                    <li id="user"><a href="/user/logout">Logout</a></li>
                {{else}}
                    <li id="guest"><a href="/user/login">Login</a></li>
                    <li id="guest"><a href="/user/register">Register</a></li>
                {{/if}}
            </ul>

        </nav>

        {{{body}}}

        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

</body>

</html>